################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OurGroceries.Api/packages/Newtonsoft.Json.9.0.1
/OurGroceries.Api/OurGroceries.Api.Test/bin
/OurGroceries.Api/OurGroceries.Api.Test/obj
/OurGroceries.Api/OurGroceries.Api/obj
/OurGroceries.Api/OurGroceries.Api/bin
*.suo
