################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OurGroceries.Api/packages/Newtonsoft.Json.9.0.1
